:root {

    /** Colors */
    --primaryColor: #06DA84;
    --bodyBackgroundColor: #F8F9FD;
    --menuBackgroundColor: #FFFFFF;
    --selectedMenuItemColor: #F8F9FD;
    --menuItemHoverColor: rgba(235, 236, 240, 1);
    --primaryTextColor: rgba(50, 59, 75, 1);
    --secondaryTextColor: rgba(138, 148, 166, 1);
    --dividerColor: rgba(0,0,0,0.2);
    --cardColor: #FFFFFF;

    /** Sizes */
    --menuWidth: 260px;
    --borderRadius: 16px;
    --verticalGap: 20px;
    --horizontalGap: 16px;
    --menuItemHeight: 30px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    transition: all 0.2s ease;
}

h1,h2,h3,h4,h5,h6,i { color: var(--primaryTextColor);}

i{
    color: var(--secondaryTextColor);
    width: 16px;
    height: 16px;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primaryTextColor);
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

input:focus {
    outline: none;
}

body { background-color: var(--bodyBackgroundColor); overflow: hidden;}

.wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: var(--menuWidth) 1fr;
    grid-template-areas: 'menu-area main-content-area';
}

/** Menu Section Area */
.menu-section-area {
    grid-area: menu-area;
    background-color: var(--menuBackgroundColor);
    height: 100vh;
    width: 100%;
    padding: var(--verticalGap) var(--horizontalGap);
    display: flex;
    flex-direction: column;
    gap: var(--verticalGap);
    overflow-y: scroll;
}

.menu--items-container {
    border-radius: var(--borderRadius);
    padding: var(--horizontalGap);
    cursor: pointer;
}

.dpc-logo-name {
    display: flex;
    align-items: center;
    gap: var(--horizontalGap);
}

.dpc-logo-name img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.dpc-logo-name h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primaryTextColor);
}

.active-company-card {
    background-color: var(--selectedMenuItemColor);
    color: var(--bodyBackgroundColor);
    display: flex;
    align-items: center;
    gap: 10px;
}

.active-company-card:hover {
    box-shadow: 0 2px 10px rgba(32, 56, 117, 0.2);
    color: var(--bodyBackgroundColor);
}

.active-company-card img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.company-name-col {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.company-name-col h6{
    font-weight: 500;
}

.company-name-col p {
    font-size: 12px;
    color: var(--secondaryTextColor);
}

.menu-services-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.menu-service-item {
    min-height: var(--menuItemHeight);
    display: flex;
    align-items: center;
    gap: var(--horizontalGap);
}

.menu-service-item:hover {
    background-color: var(--menuItemHoverColor);
}

.menu-service-item  h5{
    font-weight: 500;
    flex: 2;
}

.menu-item-notification {
    padding: 8px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryTextColor);
}

.menu-item-notification p {
    color: var(--menuBackgroundColor);
    font-size: 10px;
}

.hide-menu-item-notification {
    display: none;
}

.menu-selected-service {
    background-color: var(--selectedMenuItemColor);
}

.menu-divider {
    width: 100%;
    border: 0.3px solid var(--dividerColor);
}

.menu-settings-container {
    padding: 10px;
    background-color: var(--selectedMenuItemColor);
    border-radius: var(--borderRadius);
} 

/** Menu Section Area --END*/

.main-section-area {
    grid-area: main-content-area;
    background-color: var(--bodyBackgroundColor);
    display: flex;
    flex-direction: column;
    gap: calc(var(--verticalGap) + var(--horizontalGap));
    height: 100vh;
    overflow-y: scroll;
}

.main-section-sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
}

.main-section-header {
    display: flex;
    flex-direction: column;
    gap: var(--horizontalGap);
    background-color: var(--bodyBackgroundColor);
}

.main-section-app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--horizontalGap);
    padding: var(--horizontalGap);
    position: relative;
}

.leading-app-bar, .trailing-app-bar {
    display: flex;
    align-items: center;
    gap: var(--horizontalGap);
}

.leading-app-bar h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primaryTextColor);
}

.input-search-container {
    border-radius: var(--borderRadius);
    padding: var(--horizontalGap);
    display: flex;
    gap: 10px;
    background-color: var(--cardColor);
}

.input-search-container i {
    width: 24px;
    height: 24px;
}

.input-search-container input{
    min-width: 200px;
}

.main-section-notification-icon{
    display: block;
    cursor: pointer;
    position: relative;
}

.main-section-notification-icon i >svg{
    width: 30px;
    height: 30px;
    color: var(--primaryTextColor);
    font-size: 1.2rem;
}

.main-section-notification-icon p{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    font-size: 10px;
    color: var(--cardColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Custom Select Company*/
.select-company-container{ max-width: 200px; display: block;
    cursor: pointer; position: relative;}

.select-company-container select{
    display: none;
}

.selected-company-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    gap: var(--horizontalGap);
    padding: var(--horizontalGap);
    border-radius: var(--borderRadius);
    background-color: var(--cardColor);
    border: 1px solid var(--primaryColor);
}

.select-arrow-active {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.companies-select-list {
    list-style-type: none;
    top: 0;
    right: 0;
    max-width: 200px;
    font-size: 10px;
    color: var(--cardColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cardColor);
    box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
    z-index: 9;
}

.companies-select-list li {
    width: 100%;
    border-bottom: 1px solid var(--dividerColor);
    padding: 12px 12px;
    color: var(--secondaryTextColor);
    text-align: center;
}

.companies-select-list li:first-child {
    border-top: 1px solid var(--dividerColor);
}
.companies-select-list li:last-child {
    border-bottom: none;
}
.companies-select-list li:hover {
    background-color: var(--selectedMenuItemColor);
    color: var(--primaryTextColor);
}

.hide-companies-list {
    display: none;
}

.on-show-companies-list {
    border-radius: 0;
    border: none;
}

/** MAIN SECTION TAB BAR */
.main-section-tab-bar {
    padding: 0 var(--verticalGap);
    width: 100%;
    margin-bottom: var(--horizontalGap);
}

.tabs-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.tabs-list::-webkit-scrollbar {
    display: none;
}

.tab-item {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 12px var(--verticalGap);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--secondaryTextColor);
    border-top:1px solid var(--dividerColor);
    border-bottom:1px solid var(--dividerColor);
    border-right: 1px solid var(--dividerColor);
}

.first-tab-item{
    border-start-start-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
    border-left: 1px solid var(--dividerColor);
}

.last-tab-item{
    border-end-end-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
}

.tabs-list li:hover {
    color: var(--primaryTextColor);
    background-color: var(--menuItemHoverColor);
}

.selected-tab-item {
    background-color: var(--menuItemHoverColor);
    color: var(--primaryTextColor);
}

/** MAIN CONTENT DATA TABLE */ 
table {
    border-collapse: collapse;
    margin: 0 var(--horizontalGap);
    background-color: var(--cardColor);
    border-radius: var(--borderRadius);
    box-shadow: 1px 5px 10px 0px rgba(21, 34, 67, 0.2);
}

table:last-child {
    border: 1px solid transparent;
}

tr {
    border-bottom: 1px solid var(--dividerColor);
    display: flex;
}

th,td {
    font-weight: 500;
    padding: var(--horizontalGap) 8px;
    text-align: center;
    flex: 1;
}

td {
    font-size: 12px;
    color: var(--secondaryTextColor);
}

.table-head-row {
    background-color: var(--selectedMenuItemColor);
    padding: 0 var(--horizontalGap);
}


/** Resposive View */
@media screen and (max-width: 1400px) {
    .wrapper {
        grid-template-columns: 80px 1fr;
        align-items: center;
    }

    .menu-section-area {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dpc-logo-name h2, .active-company-card h2, .company-name-col, .active-company-card i, .menu-service-item  h5, .menu-item-notification{
        display: none;  /* Hide the text on small screens */
    }

    .dpc-logo-name, .active-company-card, .menu-service-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .menu-settings-container {
        padding: 0;
        background-color: transparent;
    }
}